.bg-vid {
  object-fit: cover;
  background-position: center;
  /* height: 92vh; */
  width: 100%;
  margin-top: 70px;
  z-index: -1;
}
#page1 {
  width: 100%;
  height: 100vh;
  /* background-image:url(https://cdn.sanity.io/images/sjvffa0f/production/b66561b8981387290c0f682665512759c66aa7bb-2880x1796.png/image.png?bg=F2F1EC&w=1440&h=898&auto=format); */
  /* background-position: center; */
  /* background-size: cover; */
  /* position: relative; */
  overflow: hidden;
  position: relative;
}
.pin-spacer{
  margin-top: -90px !important;
}
#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  /* transform: translate(0px,0px) !important; */
}
#overlay video {
  width: 110%;
  z-index: -1;
  /* height: 100%; */
}
.video2{
  display: none;
}
#page2 {
  min-height: 200vh;
  width: 100%;
  padding: 2vmax;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vmax;
  z-index: 99;
  background-color: white;
}

/* ------------------------------------------------- Page1 ------------------------------------------------- */

p {
  font-family: Bakbak;
}
.card {
  max-width: 300px;
  /* min-height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 5px;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.01);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.card.active {
  transform: scale(1.01);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-footer {
  font-size: 0.9vmax;
  color: #446;
}
a{
  text-decoration: none;
  color: unset;
}
/* ---------------------------------------- Responsive ---------------------------------------- */

@media screen and (max-width: 1200px) {
  .video1 {
    display: none;
  }
  .video2 {
    display: initial;
    max-height: unset !important;
    height: unset !important;
    /* border: 2px solid #f50000; */
  }
  .pin-spacer{
    margin-top: 0px !important;
  }
}
